<html>
<head>
  <title>Blog -- root</title>
  <link rel="stylesheet" type="text/css" href="/s/styles/style.css">
  <script src="http://d3js.org/d3.v3.min.js"></script>
</head>
<body>
  <div id="left"></div>
  <div id="right"></div>
  <script>
	var posts = [
	  {{range .}}
	  {
		"id"    : "{{.ID}}",
        "title" : "{{.Title}}",
		"date"  : "{{.Date}}",
		"slug"  : "{{.Slug}}"
	  },
	  {{end}}
	];

	var nav = d3.select("#left")
	  			.append("svg")
				.attr({	"height": "100%",
						"id"    : "nav"});
    
    var links = nav.selectAll("#nav")
		           .data(posts)
				   .enter()
		 		   .append("circle")
				   .attr({ "cy"    : function(d,i) { return 100 - ( (i+1) * 15) + "%"  ; },
						   "cx"    : function(){ return Math.random() * (80-20) + 20 + "%"},
						   "r"	   : 30,
						   "id"    : function(d) { return d.slug; },
						   "class" : "node-link"})
				   .on("click", function(d) { document.location.href = d.slug; });
  </script>
</body>
</html>
